# Reading and writing files

In [ ]:
# if pandas is not installed run the below code to install it unto your IDE

# !pip install pandas

For you to be able to use the libraries you have installed you need to call on them. Take it as bringing your food ingredient from the cupbord to the table where they can be easily access and poured them into the food you are cooking.

In [2]:
# import Pandas into the notebook for use
import pandas as pd

""" 
often the libraries are given short form names so that it can be easy called for use
Disclaimer: You can give it any short form callout name but for uniformity and easy in communicating your code
    short form of: 
        Pandas as pd
        numpy as np
        seaborn as sns
    are used 
"""

' \noften the libraries are given short form names so that it can be easy called for use\nDisclaimer: You can give it any short form callout name but for uniformity and easy in communicating your code\n    short form of: \n        Pandas as pd\n        numpy as np\n        seaborn as sns\n    are used \n'

### Reading a CSV file

In [3]:
"""
When reading a document, most mistake people often make the mistake of calling the dataset from the default Jupyter directory.
To know the current directory the file you want to use is on is by running the following code
getcwd()

To avoid this problem it is best to find the file path e.g "C:/Users/dell/Downloads/"
"""

'\nWhen reading a document, most mistake people often make the mistake of calling the dataset from the default Jupyter directory.\nTo know the current directory the file you want to use is on is by running the following code\ngetcwd()\n\nTo avoid this problem it is best to find the file path e.g "C:/Users/dell/Downloads/"\n'

In [6]:
import os
os.getcwd()

# below is the default file path

'C:\\Users\\dell'

In [7]:
df1 = pd.read_csv('C:/Users/dell/Downloads/data(1).csv')

In [8]:
df1

,name,rating,genre,released,score,votes,director,writer,star,country,budget,gross,company,runtime,Years
0,The Shining,R,Drama,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,1980
1,The Blue Lagoon,R,Adventure,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1980
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,1980
3,Airplane!,PG,Comedy,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,1980
4,Caddyshack,R,Comedy,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7407,The Call of the Wild,PG,Adventure,"February 21, 2020 (United States)",6.8,42000.0,Chris Sanders,Michael Green,Harrison Ford,Canada,135000000.0,111105497.0,20th Century Studios,100.0,2020
7408,The Eight Hundred,Not Rated,Action,"August 28, 2020 (United States)",6.8,3700.0,Hu Guan,Hu Guan,Zhi-zhong Huang,China,80000000.0,461421559.0,Beijing Diqi Yinxiang Entertainment,149.0,2020
7409,The Quarry,R,Crime,"April 17, 2020 (Mexico)",5.4,2400.0,Scott Teems,Scott Teems,Shea Whigham,United States,NaN,3661.0,Prowess Pictures,98.0,2020
7410,Tulsa,PG-13,Comedy,"June 3, 2020 (United States)",5.0,294.0,Scott Pryor,Scott Pryor,Scott Pryor,United States,NaN,413378.0,Pryor Entertainment,120.0,2020
7411,I Am Fear,Not Rated,Horror,"March 3, 2020 (United States)",3.4,447.0,Kevin Shulman,Kevin Shulman,Kristina Klebe,United States,NaN,13266.0,Roxwell Films,87.0,2020

### Reading an excel file

In [9]:
df2 = pd.read_excel('C:/Users/dell/Downloads/solar_measurements_nigeria_bauchi_qc.xlsx',
                   sheet_name=['Daily Solar Irradiance Data', 'Hourly Solar Irradiance Data'])

In [10]:
"""
For reading an excel file the read_excel function from pandas is used. 

Excel is a very good format of storing data as multiple sheets can belong to a single workbook. The default value parsed into 
the attribute sheet_name is the first sheet. If the workbook as several worksheet and the second, third or nth 
workbook want to be called the name of the workbook need to be fed or parsed into the attribute "sheet_name".
"""

'\nFor reading an excel file the read_excel function from pandas is used. \n\nExcel is a very good format of storing data as multiple sheets can belong to a single workbook. The default value parsed into \nthe attribute sheet_name is the first sheet. If the workbook as several worksheet and the second, third or nth \nworkbook want to be called the name of the workbook need to be fed or parsed into the attribute "sheet_name".\n'

In [12]:
daily_df2 = df2['Daily Solar Irradiance Data']
hourly_df2 = df2['Hourly Solar Irradiance Data']

In [13]:
daily_df2

,Date,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-09-20,567.778457,338.241801,301.328135,540.101447,540.167524,29.631672,61.879260,1.491801,2.218810,0.475402,112.751608,10.656592,947.101286,0.003215,0.0,56.933280,53.882154
1,2021-09-21,612.299493,416.508615,277.375338,582.300676,586.050169,30.591216,64.952196,2.252365,3.115203,0.558108,151.029561,10.961318,946.320946,0.003378,0.0,60.852872,51.598142
2,2021-09-22,273.871351,46.575946,257.215946,269.784865,271.773514,23.533243,91.272432,1.591622,2.449730,0.555405,186.108649,9.504324,947.551351,0.000000,1.2,35.082162,31.820000
3,2021-09-23,459.291452,127.545484,398.805645,436.126613,438.337581,27.244677,75.802419,1.695968,2.501129,0.542258,167.147258,10.426129,947.745161,0.003226,0.0,50.347419,47.425484
4,2021-09-24,610.936184,465.200822,257.588487,584.840954,589.787171,28.955263,64.560362,1.320066,2.006908,0.438651,124.336842,7.634704,947.917763,0.003289,0.0,61.070066,52.558224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2022-09-15,612.849749,461.999497,254.149916,574.380737,582.097990,29.312898,70.596650,2.024121,2.906365,0.578894,148.924958,10.507705,948.326633,0.003350,0.0,59.312898,52.586432
361,2022-09-16,276.431477,4.998063,275.760291,272.529540,276.123002,22.972155,81.786441,2.469249,3.479661,0.622760,156.510654,8.728814,948.854722,0.000000,0.1,35.133414,33.798547
362,2022-09-17,502.482060,199.285968,356.926110,477.942274,482.744227,27.231439,71.831794,1.744938,2.806217,0.693606,191.481350,10.673535,947.547069,0.003552,0.0,51.060391,44.397158
363,2022-09-18,452.026098,310.203876,241.276227,437.551680,440.039018,26.576486,77.668217,0.996899,1.847028,0.497158,132.067959,5.699225,948.054264,0.005168,0.0,47.677778,45.118346
364,2022-09-19,211.256532,0.840991,213.414414,207.018694,209.361486,22.608784,87.617568,2.324775,3.371622,0.627027,168.113739,8.316216,948.833333,0.000000,4.4,29.997297,29.112838

In [14]:
hourly_df2

,Date,Hour of the day,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-09-20,7,237.725000,283.761667,143.525000,217.800000,216.675000,23.466667,87.990000,0.311667,0.698333,0.230000,121.733333,2.771667,947.850000,0.000000,0.0,26.170000,33.225000
1,2021-09-20,8,457.741667,444.431667,214.500000,435.441667,433.575000,26.660000,71.166667,0.493333,0.908333,0.275000,109.673333,6.033333,948.700000,0.000000,0.0,44.688333,52.365000
2,2021-09-20,9,613.178333,422.545000,299.366667,593.603333,594.361667,28.591667,61.870000,0.790000,1.443333,0.458333,73.036667,8.131667,949.000000,0.000000,0.0,59.693333,58.426667
3,2021-09-20,10,809.296667,559.368333,308.053333,779.606667,785.160000,30.105000,56.510000,0.676667,1.376667,0.448333,103.640000,8.705000,949.000000,0.033333,0.0,72.160000,67.316667
4,2021-09-20,11,844.211667,440.136667,415.031667,812.910000,814.096667,31.110000,57.560000,1.363333,2.165000,0.488333,139.083333,10.533333,948.433333,0.000000,0.0,74.750000,68.701667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3847,2022-09-19,12,158.756818,0.420455,160.684091,167.120455,169.245455,22.170455,92.409091,3.734091,5.122727,0.838636,184.368182,12.600000,950.000000,0.000000,1.0,26.727273,26.025000
3848,2022-09-19,1,289.670000,0.721667,292.463333,287.491667,290.940000,21.606667,88.223333,5.416667,7.225000,1.045000,221.011667,13.325000,948.733333,0.000000,0.2,29.165000,28.681667
3849,2022-09-19,2,297.235000,1.793333,299.611667,289.661667,292.215000,23.208333,80.473333,3.420000,4.701667,0.776667,232.805000,12.615000,947.516667,0.000000,0.0,35.478333,33.843333
3850,2022-09-19,3,254.318333,2.088333,257.715000,242.121667,243.933333,23.490000,80.180000,2.823333,4.103333,0.786667,213.795000,11.723333,947.000000,0.000000,0.0,34.248333,32.438333
3851,2022-09-19,4,179.734286,1.908571,182.274286,170.342857,171.620000,24.005714,78.997143,2.294286,3.334286,0.680000,167.591429,10.408571,947.000000,0.000000,0.0,34.042857,31.940000

### Writing a file

In [15]:
# determining the name of the file
file_name = 'hourly_data.csv'

# saving the csv
hourly_df2.to_csv(file_name)